<div class="container-whoami">
  <div class="image-whoami">
    <img src="assets/images/home-whoami.png" alt="Whoami-Image" />
  </div>
  <div class="whoami">
    <div>
      <h2>My name is Giovana Castilho.</h2>
      <p>
        Greetings! I'm Giovana Castilho,, a 21-year-old full-stack developer
        specializing in front-end development since 2021. Proficient in
        JavaScript, TypeScript, React, and Angular, I bring a solid background in
        systems development and a track record of diverse projects.
      </p>
    </div>
    <div class="about-info">
        <span><strong>Age:</strong> 21</span>
        <span><strong>Gender:</strong> Female</span>
        <span><strong>Language:</strong> Portuguese, English</span>
        <span><strong>Work:</strong> Front-end Developer</span>
    </div>

  </div>
</div>
