.app-container {
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  width: 80%;

  & .body-header {
    align-items: center;
    display: flex;
    margin-top: 120px;

    & .content {
      margin: 30px 16px;
      width: 100%;
      h1 {
        color: #f7f5f2;
      }

      h2 {
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        color: #bc8cf2;
      }

      p {
        color: #f7f5f2;
      }
    }

    & .image {
      display: flex;
      justify-content: center;
      margin: 0px auto;
      width: 80%;
      img {
        border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
        height: 25rem;
        width: 25rem;
      }
    }
  }

  & .body-about {
    margin-top: 200px;
  }
}

@media (min-width: 600px) {
  .app-content {
    flex-wrap: nowrap;
  }
}

@media (max-width: 768px) {
  .app-content {
    & .body-header {
      flex-direction: column;
    }
  }
}