/* You can add global styles to this file, and also import other style files */
.custom-body {
  background-color: black;
}

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #BC8CF2;
}

html ::-webkit-scrollbar-track {
  margin-top: 5px;
  background: black;
}